
.NoLine{
    display: inline;
}
.Title{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
}
#Title-1{
    color: rgb(190, 86, 255);
}
#Title-2{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(67,67,67), 0 0 1px rgb(67,67,67), 0 0 0.2px rgb(67,67,67);
   
}
#Title-3{
    color: rgb(128, 0, 128);
}
